<?xml version="1.0"?>
<ruleset name="Project">
    <description>The code standard for Project.</description>

    <file>.</file>

    <!-- Ignore these directories -->
    <exclude-pattern>*/dist/*</exclude-pattern>
    <exclude-pattern>node_modules/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/vendors/*</exclude-pattern>

    <!-- PHP only -->
    <arg name="extensions" value="php"/>

    <!-- Reporting Configuration -->
    <arg name="colors"/>
    <arg value="sp"/>
    <arg name="report" value="full,summary,source"/>

    <!-- Remove user environment specific parts from the file paths -->
    <arg name="basepath" value="."/>

    <!-- Enable parallel processing which speeds up the sniffs when available.  -->
    <arg name="parallel" value="32"/>

    <rule ref="PSR2">
    </rule>
</ruleset>
